<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/css/auth.css}" href="/css/auth.css">
</head>

<body>

    <div class="page-container">
        <div class="login-wrapper">

            <div class="column-left">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide text-only-slide">
                            <div class="slide-content">
                                <h1 class="brand-title">S15</h1>
                                <p>Ứng dụng giúp học sinh lớp 12 ÔN TẬP TN THPT</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img th:src="@{/images/welcome/intro1.png}" src="/images/welcome/intro1.png" alt="Intro 1">
                            <div class="slide-content">
                                <h3>Cộng đồng</h3>
                                <p>Có một kênh cộng đồng cho phép trao đỏi học tập</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img th:src="@{/images/welcome/intro2.png}" src="/images/welcome/intro2.png" alt="Intro 2">
                            <div class="slide-content">
                                <h3>Tài liệu và đề ôn</h3>
                                <p>Có nhiều tài liệu SGK, đề thi, để ôn của các trường và đề thi TN THPT qua các năm.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img th:src="@{/images/welcome/intro3.png}" src="/images/welcome/intro3.png" alt="Intro 3">
                            <div class="slide-content">
                                <h3>Bài Test</h3>
                                <p>Nhiều bài trắc nghiệm tạo ra giúp ôn tập và 1 số bài test giống với cấu trúc của các đề thi theo môn.</p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="column-right">
                <div class="auth-container">

                    <div class="btn">
                        <div class="slider"></div>
                        <button type="button" class="login">Đăng nhập</button>
                        <button type="button" class="signup">Đăng ký</button>
                    </div>

                    <div class="form-section">

                        <div class="login-box">
                            <h2 style="margin-bottom: 25px; font-size: 24;">Đăng nhập</h2>

                            <form id="loginForm">
                                <input class="ele" type="text" id="loginUsername" name="username"
                                    placeholder="Tên đăng nhập" required>

                                <input class="ele" type="password" id="loginPassword" name="password"
                                    placeholder="Mật khẩu" required>

                                <button class="clkbtn" type="submit">Đăng nhập</button>
                            </form>

                            <div class="auth-help">
                                <a href="/forgot-password">Quên mật khẩu?</a>
                                <span>•</span>
                                <a href="/contact">Không nhận được email?</a>
                            </div>
                        </div>

                        <div class="signup-box">
                            <h2 style="margin-bottom: 25px; font-size: 24;">Đăng ký</h2>
                            <!-- REGISTER -->
                            <form id="registerForm">
                                <input class="ele" type="text" id="registerUsername" name="username"
                                    placeholder="Tên đăng nhập" required>

                                <input class="ele" type="email" id="registerEmail" name="email" placeholder="Email"
                                    required>

                                <input class="ele" type="password" id="registerPassword" name="password"
                                    placeholder="Mật khẩu" required>

                                <input class="ele" type="password" id="confirmPassword" name="confirmPassword"
                                    placeholder="Xác nhận mật khẩu" required>

                                <button class="clkbtn" type="submit">Đăng ký</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".mySwiper", {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            }
        });

        swiper.update();
        window.dispatchEvent(new Event("resize"));
    </script>

    <script th:src="@{/js/form.js}" src="/js/form.js"></script>
    <script th:src="@{/js/auth.js}"></script>
</body>

</html>